<h1>GOSSIP <%=params[:id]%></h1>
  <p>
    <div class="card-box">
      <div class="card border-light mb-3" style="max-width: 18rem;">
        <div class="card-header"><%=@gossip.title%></div>
        <div class="card-body">
          <p class="card-text"><%= @gossip.content%></p>
          <p class="card-text"><%= @user.username%></p>
          <p class="card-time">Created @<%= @gossip.created_at%></p>
          <p class="card-time">Updated @<%= @gossip.updated_at%></p>
          <p>Comments (<%= @gossip.comments.size %>)</p>
        </div>
      </div>
    </div>
    <h2> Comments : </h2>
    <%= render partial: 'gossips/comment', collection: @gossip.comments.reverse%>
  <%= render partial: 'layouts/form' %>
